<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Всі користувачі</title>
  <style>
    table{
      width: 100%;
    }
    td, th{
      text-align: left;
      padding: 8px;
    }
  </style>
</head>
<body>

    <a href="/admin/homePageForAdmin">
        <button>Меню адміністратора</button>
    </a>

<div>
  <table id="tab">
    <tr>
    <th>ID</th>
    <th>Роль</th>
    <th>Ім'я</th>
    <th>Прізвище</th>
    <th>Логін</th>
    <th>Пароль</th>
    <th>Стать</th>
    <th>Email</th>
    <th>Номер телефону</th>
        <th>Видалити</th>
    <!--<th>Car_id</th>-->
    </tr>
    <!--<c:forEach items="${allUsers}" var="user">-->
    <th:block th:each="user : ${allUsers}" >
    <tr>
        <td th:text="${user.id}"></td>
        <td th:each="userRole: ${user.user_role}" th:text="${userRole}"></td>
        <td th:text="${user.firstname}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.sex}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.phone}"></td>
        <form th:action="@{/admin/allUsers/delete/{id}(id=${user.id})}" method="get">
        <td><!--</td>action="/admin/allUsers/delete/{id}" method="DELETE">-->
            <!--<a th:href="@{/admin/allUsers/delete/{id}(id=${user.id})}" >-->
            <button type="submit">Видалити</button>
            <!--</a>-->
        </td>
        </form>
        <!--<td th:text="${user.carId}"></td>-->
      </tr>
    </th:block>
    <!--</c:forEach>-->
  </table>
</div>

</body>
</html>