<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<script>
    //var formData = new FormData(document.form.person);
    var xhr = new XMLHttpRequest();
    var body = "username=" + encodeURIComponent(username);
    xhr.open("POST", true);
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.send(body);
</script>-->

<!--<form action="/users/in/" method="post">-->
<form name = "person" action = "/users/in" method="post">
    <table class="table">
        <tr>
            <td>Логін:</td>
            <td><input class="rfield" name="username" type="text" required></td>
        </tr>
        <tr>
            <td>Пароль:</td>
            <td><input class="rfield" type="password" name="password" required></td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit" class="comp2 disabled">Зайти</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>